*{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.header{
        background-color: #FAE0B9;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
    margin-right: 51px;
    margin-left: 48px;
    border-bottom: 2px solid #000000;
}

.navigation{
    display: flex;
    margin-left: 71px;
    margin-right: 16px;
    flex-shrink: 0;
}

.navigation__item{
    margin-right: 112px;
    font-size: 48px;
    line-height: 56px;
    text-decoration: none;
    color: #000000;
}

.navigation__item:hover{
    text-decoration: underline;
    text-decoration-skip: initial;
}
.social-link{
    margin-right: 36px;
}

.preview{
    background-color: #FAE0B9;
    padding-top: 75px;
    padding-bottom: 70px;
    padding-left: 30px;
}

.title{
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.preview-title{
    text-align: left;
}

.text_md{
    margin: 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 0.6);
}

.text_reg{
    margin-top: 64px;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    opacity: 0.4;
}

.button{
    padding: 12px 17px 12px 17px;
    background-color: #FF8A00;
    border-radius: 7px;
    border-style: none;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.section{
    padding-top: 83px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.section__item{
    width: 617px;
    height: 366px;
    background-size: cover;
}

.section__item-1{
    background-image: url(img/img-1.jpg);
}

.section__item-2{
    background-image: url(img/img-2.jpg);
}

.section__item-3{
    background-image: url(img/img-3.jpg);
}

.section__item-1,
.section__item-2,
.section__item-3{
    border-radius: 7px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about{
    padding-top: 24px;
    padding-bottom: 49px;
}

.text_about{
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    opacity: 0.6;
}

.vertical-center{
    padding-top: auto;
    padding-bottom: auto;
}

.about_header,
ul{
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li:before {
    content:  "-";
    position: relative;
    left: -5px;
}

.price{
    padding: 34px 30px 188px 30px;
    background-color: #FAE0B9;
}

.rooms{
    padding-top: 34px;
    display: flex;
    justify-content: space-around;
}

.room{
    width: 640px;
}

.room__title{
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    color: #645A4A;
}

.room__text{
    font-size: 26px;
    line-height: 30px;
    color: #645A4A;
    height: 271px;
}

.room__text-bold{
    font-size: 24px;
    line-height: 28px;
    color: #645A4A;
    font-weight: bold;
}

.footer{
    padding: 18px 30px 56px 30px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.info__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #645A4A;
    margin: 0;
    padding-left: 24px;
}

.info__text{
    font-size: 28px;
    line-height: 33px;
    color: #645A4A;
    padding-left: 24px;
    margin: 0;
}

.img-1{
    background-image: url(img/bi_phone.svg);
    background-repeat: no-repeat;
    background-position: bottom 5px left;
}

.img-2{
    background-image: url(img/bx_bx-map.svg);
    background-repeat: no-repeat;
    background-position: bottom 5px left;
}

.img-3{
    background-image: url(img/cil_envelope-letter.svg);
    background-repeat: no-repeat;
    background-position: bottom 5px left;
}

.img-4{
    background-image: url(img/bytesize_clock.svg);
    background-repeat: no-repeat;
    background-position: bottom 5px left;
}