body{
    padding-top: 110px;
    padding-bottom: 98px;
}

.heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: rgba(0, 0, 0, 0.6);

    text-align: center;
    margin-bottom: 69px;
}

.close{
    position: absolute;
    top: 86px;
    right: 92px;
}

.text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    color: #645A4A;

    margin-left: 84px;
    margin-bottom: 106px;
    /* margin-right: 60px; */
    max-width: 1296px;
}

ol{
    list-style: none;
    counter-reset: li;
    padding: 0;
}

ol > li:before{
    counter-increment: li;
    content: counters(li, ".") ". ";
}

ul{ 
    list-style: none;
    padding: 0;
}

ul > li:before{
    content: "- "
}

.comeBack{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #FF8A00;

    margin-left: 84px;
    text-decoration: none;
}